*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 65px;
    font-weight: bolder;

}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 50px 0;
    padding: 30px;
    border-radius: 8px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 25px;
    padding: 15px 22px;
    border: 1px solid #514A9D;
    outline: 0;
    font-size: 17px;
    border-radius: 9px;
    position: relative;
}
.input-box button{
    background: hsl(60, 100%, 51%);
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    color: #333;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 25px;
}
#result span{
    color: #ffff65;
}
